.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
}

.login {
    background-color: #ffffff;
    padding: 100px;
    border-radius: 15px;
}

.form {

}

.input_wrapper {
    margin-bottom: 15px;
}

.input {

}

.btn {
    width: 100%;
    transition: 0.3s all;
    background-color: rgba(255,255,255,0.3);
    border-color: rgb(207, 217, 222);
    border-width: 1px;
    padding: 10px 30px;

    &:hover {
        background-color: rgba(190, 185, 185, 0.45);
    }
}