.wrapper {
    padding: 0.625rem;
    border-radius: 10px;
    margin-bottom: 0.625rem;
    @media(min-width: 992px) {
        margin-bottom: 1.875rem;
        padding: 1.25rem;
    }
}

.block {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
    @media(min-width: 992px) {
        padding-bottom: 0.625rem;
    }
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    margin-right: 1.25rem;
    @media(min-width: 768px) {
        width: 70px;
        height: 70px;
    }
}

.input {
    width: 100%;
    height: auto;
    text-align: justify;
    background-color: inherit;
    color: inherit;
}

.file {
    padding: 1.25rem;
    position: relative;
    &__img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &__icon {
        position: absolute;
        //right: 20px;
        top: 35px;
        left: 30px;
        cursor: pointer;
        color: inherit;
        //z-index: 2;
    }
}

.form {
    display: flex;
    align-items: center;
    &__wrapper {
        margin-right: 6.25rem;
    }
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
    }
    &__icon {
        margin-right: 0.3125rem;
    }
}

